<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tbody>{{ code }}</tbody>
        {% for ary in det %}
            <tr>
                <td><a href="/code/{{ ary.ts_code }}">{{ary.ts_code}}</a></td>
                <td>{{ary.name}}</td>
                <td>{{ary.open}}</td>
                <td>{{ary.low}}</td>
                <td>{{ary.high}}</td>
                <td>{{ary.close}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>