<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>时光小屋</title>
     <link rel="stylesheet" href="../static/css/contents.css"/>
</head>
<body>
    <div class="navigation">
        你好
    </div>
    <div class="content">
        hello world
    </div>
{% block contents %}
{% endblock %}


{#<footer class="footer">#}
{#    <div class="footer-inner">#}
{#        <p>微信：qqtxw533 QQ:1285337818 托管于腾讯云主机 </p>#}
{#        <a href="http://beian.miit.gov.cn" target=_blank><span>ICP主体备案号 蜀ICP备20019415号</span></a>#}
{#    </div>#}
{#</footer>#}
<script charset='utf-8' src='../static/js/main.js'></script>
</body>
</html>